###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC6VLX240T-FF1156-1;

NET "i_sclk_p" TNM_NET = TNM_SysClk;
TIMESPEC "TS_SysClk" = PERIOD "TNM_SysClk" 5 ns ;
NET  "i_sclk_p"   LOC = "J9";
NET  "i_sclk_p"   IOSTANDARD = LVDS_25;
NET  "i_sclk_n"   LOC = "H9";
NET  "i_sclk_n"   IOSTANDARD = LVDS_25;

# button "Center"
NET "i_rst" LOC = "H10" | IOSTANDARD=SSTL15;#ML605 CPU_RESET switch
NET "i_rst" CLOCK_DEDICATED_ROUTE = "FALSE";
# jumpers


# UART1 interface
NET "i_uart1_ctsn" LOC = T23;
NET "i_uart1_rd"   LOC = J24;
NET "o_uart1_rtsn" LOC = T24;
NET "o_uart1_td"   LOC = J25;

# GPIO
NET "i_int_clkrf"  LOC = D22 | IOSTANDARD=SSTL15 | PULLDOWN | SLEW=SLOW | DRIVE=2;   # DIP-0. Generate ADC clock internally = sys_clk/4
NET "i_dip[1]"  LOC = C22 | IOSTANDARD=SSTL15 | PULLDOWN | SLEW=SLOW | DRIVE=2;   # DIP-1
NET "i_dip[2]"  LOC = L21 | IOSTANDARD=SSTL15 | PULLDOWN | SLEW=SLOW | DRIVE=2;   # DIP-2
NET "i_dip[3]"  LOC = L20 | IOSTANDARD=SSTL15 | PULLDOWN | SLEW=SLOW | DRIVE=2;   # DIP-3
#NET "i_dip[4]"  LOC = C18;   # DIP-4
#NET "i_dip[5]"  LOC = B18;   # DIP-5
#NET "i_dip[6]"  LOC = K22;   # DIP-6
#NET "i_dip[7]"  LOC = K21;   # DIP-7


# User's LEDs:
NET "o_led[0]" LOC = AC22;
NET "o_led[1]" LOC = AC24;
NET "o_led[2]" LOC = AE22;
NET "o_led[3]" LOC = AE23;
NET "o_led[4]" LOC = AB23;
NET "o_led[5]" LOC = AG23;
NET "o_led[6]" LOC = AE24;
NET "o_led[7]" LOC = AD24;

# ADC samples:
NET "i_clk_adc" LOC = "A10";
NET "i_clk_adc" TNM_NET = TNM_AdcClk;
TIMESPEC "TS_AdcClk" = PERIOD "TNM_AdcClk" 24 ns ;
NET "i_gps_I[1]" LOC = "P32";
NET "i_gps_I[0]" LOC = "N34";
NET "i_gps_Q[1]" LOC = "P30";
NET "i_gps_Q[0]" LOC = "N32";
NET "i_gps_ld" LOC = "N33";
NET "i_glo_I[1]" LOC = "B34";#"M25";
NET "i_glo_I[0]" LOC = "C33";#"N25";
NET "i_glo_Q[1]" LOC = "G30";#"K32";
NET "i_glo_Q[0]" LOC = "F30";#"K31";
NET "i_glo_ld" LOC = "M33";


# RF control:
NET "o_max_sclk" LOC = "L31";
NET "o_max_sdata" LOC = "M31";
NET "o_max_ncs[1]" LOC = "M26";
NET "o_max_ncs[0]" LOC = "P34";
NET "i_antext_stat" LOC = "H32";
NET "i_antext_detect" LOC = "K29";
NET "o_antext_ena" LOC = "G32";
NET "o_antint_contr" LOC = "P31";

# Ethernet signals
NET "i_gmiiclk_p"             LOC = "H6";
NET "i_gmiiclk_n"             LOC = "H5";
NET "o_egtx_clk"              LOC = "AH12";   ## 14  on U80
NET "i_etx_clk"               LOC = "AD12";   ## 10  on U80
NET "i_erx_clk"               LOC = "AP11";   ## 7   on U80
NET "i_erxd(0)"               LOC = "AN13";   ## 3   on U80
NET "i_erxd(1)"               LOC = "AF14";   ## 128 on U80
NET "i_erxd(2)"               LOC = "AE14";   ## 126 on U80
NET "i_erxd(3)"               LOC = "AN12";   ## 125 on U80
NET "i_erx_dv"                LOC = "AM13";   ## 4   on U80
NET "i_erx_er"                LOC = "AG12";   ## 9   on U80
NET "i_erx_col"               LOC = "AK13";   ## 114 on U80
NET "i_erx_crs"               LOC = "AL13";   ## 115 on U80
NET "i_emdint"                LOC = "AH14";   ## 32  on U80
NET "o_etxd(0)"               LOC = "AM11";   ## 18  on U80
NET "o_etxd(1)"               LOC = "AL11";   ## 19  on U80
NET "o_etxd(2)"               LOC = "AG10";   ## 20  on U80
NET "o_etxd(3)"               LOC = "AG11";   ## 24  on U80
NET "o_etx_en"                LOC = "AJ10";   ## 16  on U80
NET "o_etx_er"                LOC = "AH10";   ## 13  on U80
NET "o_emdc"                  LOC = "AP14";   ## 35  on U80
NET "io_emdio"                LOC = "AN14";   ## 33  on U80
NET "o_erstn"                 LOC = "AH13";   ## 36  on U80

NET "i_gmiiclk_p"            TNM_NET = "clk_gtx";
TIMESPEC "TS_gtx_clk"      = PERIOD "clk_gtx" 8000 ps HIGH 50 %;

NET "i_erx_clk"              TNM_NET  = "clk_rx";
TIMESPEC "TS_rx_clk"       = PERIOD "clk_rx" 40000 ps HIGH 50 %;

NET "i_etx_clk"              TNM_NET  = "clk_tx_mac";
TIMESPEC "TS_tx_clk_mii"   = PERIOD "clk_tx_mac" 40000 ps HIGH 50 %;


#### DDR3

# Constrain BUFR clocks used to synchronize data from IOB to fabric logic
# Note that ISE cannot infer this from other PERIOD constraints because
# of the use of OSERDES blocks in the BUFR clock generation path
NET "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/clk_rsync[?]" TNM_NET = TNM_clk_rsync;
TIMESPEC "TS_clk_rsync" = PERIOD "TNM_clk_rsync" 5 ns;

# Paths between DQ/DQS ISERDES.Q outputs and CLB flops clocked by falling
# edge of BUFR will by design only be used if DYNCLKDIVSEL is asserted for
# that particular flop. Mark this path as being a full-cycle, rather than
# a half cycle path for timing purposes. NOTE: This constraint forces full-
# cycle timing to be applied globally for all rising->falling edge paths
# in all resynchronizaton clock domains. If the user had modified the logic
# in the resync clock domain such that other rising->falling edge paths
# exist, then constraint below should be modified to utilize pattern
# matching to specific affect only the DQ/DQS ISERDES.Q outputs
TIMEGRP "TG_clk_rsync_rise" = RISING  "TNM_clk_rsync";
TIMEGRP "TG_clk_rsync_fall" = FALLING "TNM_clk_rsync";
TIMESPEC "TS_clk_rsync_rise_to_fall" =
  FROM "TG_clk_rsync_rise" TO "TG_clk_rsync_fall" "TS_sys_clk" * 2;

# Signal to select between controller and physical layer signals. Four divided by two clock
# cycles (4 memory clock cycles) are provided by design for the signal to settle down.
# Used only by the phy modules.
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_init/u_ff_phy_init_data_sel" TNM = "TNM_PHY_INIT_SEL";
TIMESPEC "TS_MC_PHY_INIT_SEL" = FROM "TNM_PHY_INIT_SEL" TO FFS = "TS_sys_clk"*4;

disable = reg_sr_o;
disable = reg_sr_r;
############################################################################
########################################################################
# Controller 0
# Memory Device: DDR3_SDRAM->SODIMMs->MT4JSF6464HY-1G1
# Data Width:     64
# Frequency:      400
# Time Period:      2500
# Data Mask:     1
########################################################################


################################################################################
# I/O STANDARDS
################################################################################

NET  "io_ddr3_dq[*]"                               IOSTANDARD = SSTL15_T_DCI;
NET  "o_ddr3_addr[*]"                             IOSTANDARD = SSTL15;
NET  "o_ddr3_ba[*]"                               IOSTANDARD = SSTL15;
NET  "o_ddr3_ras_n"                               IOSTANDARD = SSTL15;
NET  "o_ddr3_cas_n"                               IOSTANDARD = SSTL15;
NET  "o_ddr3_we_n"                                IOSTANDARD = SSTL15;
NET  "o_ddr3_reset_n"                             IOSTANDARD = LVCMOS15;##SSTL15;
NET  "o_ddr3_cke[*]"                              IOSTANDARD = SSTL15;
NET  "o_ddr3_odt[*]"                              IOSTANDARD = SSTL15;
NET  "o_ddr3_cs_n[*]"                             IOSTANDARD = SSTL15;
NET  "o_ddr3_dm[*]"                               IOSTANDARD = SSTL15;
NET  "io_ddr3_dqs_p[*]"                            IOSTANDARD = DIFF_SSTL15_T_DCI;
NET  "io_ddr3_dqs_n[*]"                            IOSTANDARD = DIFF_SSTL15_T_DCI;
NET  "o_ddr3_ck_p[*]"                             IOSTANDARD = DIFF_SSTL15;
NET  "o_ddr3_ck_n[*]"                             IOSTANDARD = DIFF_SSTL15;

################################################################################
##SAVE attributes to reserve the pins
################################################################################
## NET  "sda"                                      S;
## NET  "scl"                                      S;

###############################################################################
#DCI_CASCADING
#Syntax : CONFIG DCI_CASCADE = "<master> <slave1> <slave2> ..";
###############################################################################
##CONFIG DCI_CASCADE = "25 26"; -- MIG vhdl
CONFIG DCI_CASCADE = "26 25";
CONFIG DCI_CASCADE = "36 35";


##################################################################################
# Location Constraints
##################################################################################
NET  "io_ddr3_dq[0]"                                LOC = "J11" ;          #Bank 35
NET  "io_ddr3_dq[1]"                                LOC = "E13" ;          #Bank 35
NET  "io_ddr3_dq[2]"                                LOC = "F13" ;          #Bank 35
NET  "io_ddr3_dq[3]"                                LOC = "K11" ;          #Bank 35
NET  "io_ddr3_dq[4]"                                LOC = "L11" ;          #Bank 35
NET  "io_ddr3_dq[5]"                                LOC = "K13" ;          #Bank 35
NET  "io_ddr3_dq[6]"                                LOC = "K12" ;          #Bank 35
NET  "io_ddr3_dq[7]"                                LOC = "D11" ;          #Bank 35
NET  "io_ddr3_dq[8]"                                LOC = "M13" ;          #Bank 35
NET  "io_ddr3_dq[9]"                                LOC = "J14" ;          #Bank 35
NET  "io_ddr3_dq[10]"                               LOC = "B13" ;          #Bank 35
NET  "io_ddr3_dq[11]"                               LOC = "B12" ;          #Bank 35
NET  "io_ddr3_dq[12]"                               LOC = "G10" ;          #Bank 35
NET  "io_ddr3_dq[13]"                               LOC = "M11" ;          #Bank 35
NET  "io_ddr3_dq[14]"                               LOC = "C12" ;          #Bank 35
NET  "io_ddr3_dq[15]"                               LOC = "A11" ;          #Bank 35
NET  "io_ddr3_dq[16]"                               LOC = "G11" ;          #Bank 35
NET  "io_ddr3_dq[17]"                               LOC = "F11" ;          #Bank 35
NET  "io_ddr3_dq[18]"                               LOC = "D14" ;          #Bank 35
NET  "io_ddr3_dq[19]"                               LOC = "C14" ;          #Bank 35
NET  "io_ddr3_dq[20]"                               LOC = "G12" ;          #Bank 35
NET  "io_ddr3_dq[21]"                               LOC = "G13" ;          #Bank 35
NET  "io_ddr3_dq[22]"                               LOC = "F14" ;          #Bank 35
NET  "io_ddr3_dq[23]"                               LOC = "H14" ;          #Bank 35
NET  "io_ddr3_dq[24]"                               LOC = "C19" ;          #Bank 26
NET  "io_ddr3_dq[25]"                               LOC = "G20" ;          #Bank 26
NET  "io_ddr3_dq[26]"                               LOC = "E19" ;          #Bank 26
NET  "io_ddr3_dq[27]"                               LOC = "F20" ;          #Bank 26
NET  "io_ddr3_dq[28]"                               LOC = "A20" ;          #Bank 26
NET  "io_ddr3_dq[29]"                               LOC = "A21" ;          #Bank 26
NET  "io_ddr3_dq[30]"                               LOC = "E22" ;          #Bank 26
NET  "io_ddr3_dq[31]"                               LOC = "E23" ;          #Bank 26
NET  "io_ddr3_dq[32]"                               LOC = "G21" ;          #Bank 26
NET  "io_ddr3_dq[33]"                               LOC = "B21" ;          #Bank 26
NET  "io_ddr3_dq[34]"                               LOC = "A23" ;          #Bank 26
NET  "io_ddr3_dq[35]"                               LOC = "A24" ;          #Bank 26
NET  "io_ddr3_dq[36]"                               LOC = "C20" ;          #Bank 26
NET  "io_ddr3_dq[37]"                               LOC = "D20" ;          #Bank 26
NET  "io_ddr3_dq[38]"                               LOC = "J20" ;          #Bank 26
NET  "io_ddr3_dq[39]"                               LOC = "G22" ;          #Bank 26
NET  "io_ddr3_dq[40]"                               LOC = "D26" ;          #Bank 25
NET  "io_ddr3_dq[41]"                               LOC = "F26" ;          #Bank 25
NET  "io_ddr3_dq[42]"                               LOC = "B26" ;          #Bank 25
NET  "io_ddr3_dq[43]"                               LOC = "E26" ;          #Bank 25
NET  "io_ddr3_dq[44]"                               LOC = "C24" ;          #Bank 25
NET  "io_ddr3_dq[45]"                               LOC = "D25" ;          #Bank 25
NET  "io_ddr3_dq[46]"                               LOC = "D27" ;          #Bank 25
NET  "io_ddr3_dq[47]"                               LOC = "C25" ;          #Bank 25
NET  "io_ddr3_dq[48]"                               LOC = "C27" ;          #Bank 25
NET  "io_ddr3_dq[49]"                               LOC = "B28" ;          #Bank 25
NET  "io_ddr3_dq[50]"                               LOC = "D29" ;          #Bank 25
NET  "io_ddr3_dq[51]"                               LOC = "B27" ;          #Bank 25
NET  "io_ddr3_dq[52]"                               LOC = "G27" ;          #Bank 25
NET  "io_ddr3_dq[53]"                               LOC = "A28" ;          #Bank 25
NET  "io_ddr3_dq[54]"                               LOC = "E24" ;          #Bank 25
NET  "io_ddr3_dq[55]"                               LOC = "G25" ;          #Bank 25
NET  "io_ddr3_dq[56]"                               LOC = "F28" ;          #Bank 25
NET  "io_ddr3_dq[57]"                               LOC = "B31" ;          #Bank 25
NET  "io_ddr3_dq[58]"                               LOC = "H29" ;          #Bank 25
NET  "io_ddr3_dq[59]"                               LOC = "H28" ;          #Bank 25
NET  "io_ddr3_dq[60]"                               LOC = "B30" ;          #Bank 25
NET  "io_ddr3_dq[61]"                               LOC = "A30" ;          #Bank 25
NET  "io_ddr3_dq[62]"                               LOC = "E29" ;          #Bank 25
NET  "io_ddr3_dq[63]"                               LOC = "F29" ;          #Bank 25
NET  "o_ddr3_addr[12]"                             LOC = "H15" ;          #Bank 36
NET  "o_ddr3_addr[11]"                             LOC = "M15" ;          #Bank 36
NET  "o_ddr3_addr[10]"                             LOC = "M16" ;          #Bank 36
NET  "o_ddr3_addr[9]"                              LOC = "F15" ;          #Bank 36
NET  "o_ddr3_addr[8]"                              LOC = "G15" ;          #Bank 36
NET  "o_ddr3_addr[7]"                              LOC = "B15" ;          #Bank 36
NET  "o_ddr3_addr[6]"                              LOC = "A15" ;          #Bank 36
NET  "o_ddr3_addr[5]"                              LOC = "J17" ;          #Bank 36
NET  "o_ddr3_addr[4]"                              LOC = "D16" ;          #Bank 36
NET  "o_ddr3_addr[3]"                              LOC = "E16" ;          #Bank 36
NET  "o_ddr3_addr[2]"                              LOC = "B16" ;          #Bank 36
NET  "o_ddr3_addr[1]"                              LOC = "A16" ;          #Bank 36
NET  "o_ddr3_addr[0]"                              LOC = "L14" ;          #Bank 36
NET  "o_ddr3_ba[2]"                                LOC = "L15" ;          #Bank 36
NET  "o_ddr3_ba[1]"                                LOC = "J19" ;          #Bank 36
NET  "o_ddr3_ba[0]"                                LOC = "K19" ;          #Bank 36
NET  "o_ddr3_ras_n"                                LOC = "L19" ;          #Bank 36
NET  "o_ddr3_cas_n"                                LOC = "C17" ;          #Bank 36
NET  "o_ddr3_we_n"                                 LOC = "B17" ;          #Bank 36
NET  "o_ddr3_reset_n"                              LOC = "E18" ;          #Bank 36
NET  "o_ddr3_cke[0]"                               LOC = "M18" ;          #Bank 36
NET  "o_ddr3_odt[0]"                               LOC = "F18" ;          #Bank 36
NET  "o_ddr3_cs_n[0]"                              LOC = "K18" ;          #Bank 36
NET  "o_ddr3_dm[0]"                                LOC = "E11" ;          #Bank 35
NET  "o_ddr3_dm[1]"                                LOC = "B11" ;          #Bank 35
NET  "o_ddr3_dm[2]"                                LOC = "E14" ;          #Bank 35
NET  "o_ddr3_dm[3]"                                LOC = "D19" ;          #Bank 26
NET  "o_ddr3_dm[4]"                                LOC = "B22" ;          #Bank 26
NET  "o_ddr3_dm[5]"                                LOC = "A26" ;          #Bank 25
NET  "o_ddr3_dm[6]"                                LOC = "A29" ;          #Bank 25
NET  "o_ddr3_dm[7]"                                LOC = "A31" ;          #Bank 25
## NET  "sda"                                       LOC = "F9" ;          #Bank 34
## NET  "scl"                                       LOC = "F10" ;          #Bank 34
NET  "io_ddr3_dqs_p[0]"                             LOC = "D12" ;          #Bank 35
NET  "io_ddr3_dqs_n[0]"                             LOC = "E12" ;          #Bank 35
NET  "io_ddr3_dqs_p[1]"                             LOC = "H12" ;          #Bank 35
NET  "io_ddr3_dqs_n[1]"                             LOC = "J12" ;          #Bank 35
NET  "io_ddr3_dqs_p[2]"                             LOC = "A13" ;          #Bank 35
NET  "io_ddr3_dqs_n[2]"                             LOC = "A14" ;          #Bank 35
NET  "io_ddr3_dqs_p[3]"                             LOC = "H19" ;          #Bank 26
NET  "io_ddr3_dqs_n[3]"                             LOC = "H20" ;          #Bank 26
NET  "io_ddr3_dqs_p[4]"                             LOC = "B23" ;          #Bank 26
NET  "io_ddr3_dqs_n[4]"                             LOC = "C23" ;          #Bank 26
NET  "io_ddr3_dqs_p[5]"                             LOC = "B25" ;          #Bank 25
NET  "io_ddr3_dqs_n[5]"                             LOC = "A25" ;          #Bank 25
NET  "io_ddr3_dqs_p[6]"                             LOC = "H27" ;          #Bank 25
NET  "io_ddr3_dqs_n[6]"                             LOC = "G28" ;          #Bank 25
NET  "io_ddr3_dqs_p[7]"                             LOC = "C30" ;          #Bank 25
NET  "io_ddr3_dqs_n[7]"                             LOC = "D30" ;          #Bank 25
NET  "o_ddr3_ck_p[0]"                              LOC = "G18" ;          #Bank 36
NET  "o_ddr3_ck_n[0]"                              LOC = "H18" ;          #Bank 36

NET "o_ddr3_phy_init_done" LOC = J29;  ### "o_accel_sdo"

##################################################################################################
##The following locations must be reserved and cannot be used for external I/O because          ##
##the I/O elements associated with these sites (IODELAY, OSERDES, and associated routing)       ##
##are used to generate and route the clocks necessary for read data capture and synchronization ##
##to the core clock domain. These pins should not be routed out on the user's PCB               ##
##################################################################################################


######################################################################################
##Place RSYNC OSERDES and IODELAY:                                                  ##
######################################################################################

##Site: C29 -- Bank 25
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col1.u_oserdes_rsync"
  LOC = "OLOGIC_X1Y139";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col1.u_odelay_rsync"
  LOC = "IODELAY_X1Y139";

INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col1.u_bufr_rsync"
  LOC = "BUFR_X1Y6";

##Site: M12 -- Bank 35
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_oserdes_rsync"
  LOC = "OLOGIC_X2Y139";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync"
  LOC = "IODELAY_X2Y139";

INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_bufr_rsync"
  LOC = "BUFR_X2Y6";


##################################################################################################
##The logic of this pin is used internally to drive a BUFIO for the byte group. Any clock       ##
##capable pin in the same bank as the data byte group (DQS, DQ, DM if used) can be used for     ##
##this pin. This pin cannot be used for other functions and should not be connected externally. ##
##If a different pin is chosen, the corresponding LOC constraint must also be changed.          ##
##################################################################################################

CONFIG PROHIBIT = H22,F21,B20,F19;
CONFIG PROHIBIT = C13,M12,L13,K14;
CONFIG PROHIBIT = F25,C29,C28,D24;

######################################################################################
##Place CPT OSERDES and IODELAY:                                                    ##
######################################################################################

##Site: C13 -- Bank 35
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_oserdes_cpt"
  LOC = "OLOGIC_X2Y137";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_odelay_cpt"
  LOC = "IODELAY_X2Y137";

##Site: L13 -- Bank 35
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_oserdes_cpt"
  LOC = "OLOGIC_X2Y141";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_odelay_cpt"
  LOC = "IODELAY_X2Y141";

##Site: K14 -- Bank 35
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_oserdes_cpt"
  LOC = "OLOGIC_X2Y143";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_odelay_cpt"
  LOC = "IODELAY_X2Y143";

##Site: F21 -- Bank 26
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_oserdes_cpt"
  LOC = "OLOGIC_X1Y179";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_odelay_cpt"
  LOC = "IODELAY_X1Y179";

##Site: B20 -- Bank 26
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[4].u_oserdes_cpt"
  LOC = "OLOGIC_X1Y181";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[4].u_odelay_cpt"
  LOC = "IODELAY_X1Y181";

##Site: F25 -- Bank 25
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[5].u_oserdes_cpt"
  LOC = "OLOGIC_X1Y137";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[5].u_odelay_cpt"
  LOC = "IODELAY_X1Y137";

##Site: C28 -- Bank 25
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[6].u_oserdes_cpt"
  LOC = "OLOGIC_X1Y141";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[6].u_odelay_cpt"
  LOC = "IODELAY_X1Y141";

##Site: D24 -- Bank 25
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[7].u_oserdes_cpt"
  LOC = "OLOGIC_X1Y143";
INST "ddr3/u_ip_top/u_memc_ui_top/u_mem_intfc/phy_top0/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[7].u_odelay_cpt"
  LOC = "IODELAY_X1Y143";


######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################

#INST "ddr3/pll0/xv6.pll0/mmcm_adv_inst"      LOC = "MMCM_ADV_X0Y8"; #Banks 16, 26, 36
